@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

:root {
  --color-primary-50: #4a4a4a;
  --color-primary-100: #3c3c3c;
  --color-primary-200: #323232;
  --color-primary-300: #2d2d2d;
  --color-primary-400: #222222;
  --color-primary-500: #1f1f1f;
  --color-primary-600: #1c1c1e;
  --color-primary-700: #1b1b1b;
  --color-primary-800: #181818;
  --color-primary-900: #0f0f0f;
  --color-primary-950: #080808;
  --color-primary-DEFAULT: var(--color-primary-500);
}
